.main-container {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 200px 200px;
    grid-auto-flow: row;
    gap: 25px;
    height: 100vh;
    align-content: center;
    justify-content: center;
}

.task-container {
    background-color: brown;
    height: 100%;
    border-radius: 10%;
    display: grid;
    align-content: end;
}

.task {
    height: 150px;
    background-color: aqua;
    border-radius: 10%;
}

.user-info {
    background-color: lightblue;
    height: 100%;
    border-radius: 10%;
    grid-row: 1 / 3
}